# See:
# - https://python-packaging.readthedocs.io/en/latest/non-code-files.html
# - https://packaging.python.org/en/latest/guides/using-manifest-in/
# - https://jwodder.github.io/kbits/posts/pypkg-data/

include quipucamayoc/poppler-windows/*.dll
include quipucamayoc/poppler-windows/*.exe
